
.body{
    position: relative;
    height: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg');
    background-size: cover;
    overflow: auto;
    font-family: 'Times New Roman',

    
}
.login{
    margin: 0 auto;
    max-width: 500px;
}
.login-header{
    color: #fff;
    text-align: center;
    font-size: 300%
}
.login-form{
    border: .5px solid #fff;
    /* background: #4facff; */
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000;
}
.login-form h3{
    text-align: left;
    margin-left: 40px;
    color: #fff;
}
.login-form{
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
    font-family: 'Times New Roman';
    background: linear-gradient(to bottom, rgba(47, 147, 228, 0.8) 0%, rgba(0,0,0,0.6) 100%);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transform: scale(1);
    
    
}
.login input[type="email"],
.login input[type="password"]
{
    max-width: 400px;
    width: 80%;
    line-height: 3em;
    font-family: 'Ubuntu';
    border-radius: 10px;

    stroke-dasharray: 73.50196075439453;
    /* position: absolute; */
    transform-origin: 0 100%;
    top: 16rem;
    left: 13.5rem;
    height: 2.8rem;
    background: #fff;
    text-align: center;
    animation: animatePath 2s 0.5s forwards;
    background: linear-gradient(to bottom, rgba(253, 253, 253, 0.993) 0%, rgba(251, 253, 253, 0) 100%);
    
}
.checkbox{
    margin-left: -57%
}
.login-button{
    margin-bottom: 10px;
    width: 40%;
    padding: 02%;
    background-color: #FF1744;
    color: rgb(235, 227, 234);
    border-radius: 3rem;
    font-family: 'Times New Roman';
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;

    
}
.sign-up{
    color: #f2f2f2;
    cursor: pointer;
    text-decoration-style: initial;
    font-size: 1.2rem;
    color: #ABA8AE;
}


.register-body{
    position: relative;
    height: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg');
    background-size: cover;
    overflow: auto;
    font-family: 'Times New Roman';
    text-align: center
}
.signup-header{
    color: #fff;
    text-align: center;
    font-size: 300%
}
.registr{
    margin:0 auto;
    max-width: 500px;

}
.register-form{
    border: .5px solid #fff;
    /* background: #4facff; */
    border-radius: 10px;
    width:500px;
    height: 50%;
    box-shadow: 0px 0px 0px #000;
    

}
.register input[type="text"],
.register input[type="email"],
.register input[type="password"]

{
    max-width: 400px;
    width: 70%;
    line-height: 1em;
    font-family: 'Ubuntu';
    border-radius: 10px;

    stroke-dasharray: 73.50196075439453;
    /* position: absolute; */
    transform-origin: 0 100%;
    top: 16rem;
    left: 13.5rem;
    height: 2.8rem;
    background: #fff;
    text-align: center;
    animation: animatePath 2s 0.5s forwards;
    background: linear-gradient(to bottom, rgba(253, 253, 253, 0.993) 0%, rgba(251, 253, 253, 0) 100%);
    
}
.register-form label{
    text-align: left;
    margin-left: 40px;
    color: #fff;
    
}
.register-form{
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 34%;
    margin: 5% auto;
    text-align: center;
    font-family: 'Times New Roman';
    background: linear-gradient(to bottom, rgba(47, 147, 228, 0.8) 0%, rgba(0,0,0,0.6) 100%);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transform: scale(1);
}
.register-button{
    margin-bottom: 10px;
    width: 40%;
    padding: 02%;
    background-color: #FF1744;
    color: rgb(235, 227, 234);
    border-radius: 3rem;
    font-family: 'Times New Roman';
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;

    
}

/* dashboard */
.dashboard-body{
    position: relative;
    height: 100%;
    background-image: url('https://i.pinimg.com/236x/93/16/86/93168696fa839fe0233ceda3952b14c7.jpg');
    background-size: cover;
    overflow: auto;
    font-family: 'Times New Roman',

    
}