/*transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transform: scale(1);
  
  &.inactive {
    opacity: 0;
    transform: scale(1.1);
  }
  
  &__check {
    position: absolute;
    top: 16rem;
    left: 13.5rem;
    width: 14rem;
    height: 2.8rem;
    background: #fff;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
    
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 2.8rem;
      height: 5.2rem;
      background: #fff;
      box-shadow: inset -0.2rem -2rem 2rem rgba(0,0,0,0.2);
    }
  }
  
  &__form {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 1.5rem 2.5rem;
    text-align: center;
  }
  
  &__row {
    height: 5rem;
    padding-top: 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  
  &__icon {
    margin-bottom: -0.4rem;
    margin-right: 0.5rem;
    
    &.name path {
      stroke-dasharray: 73.50196075439453;
      stroke-dashoffset: 73.50196075439453;
      animation: animatePath 2s 0.5s forwards;
    }
    &.pass path {
      stroke-dasharray: 92.10662841796875;
      stroke-dashoffset: 92.10662841796875;
      animation: animatePath 2s 0.5s forwards;
    }
  }
  
  &__input {
    display: inline-block;
    width: 22rem;
    height: 100%;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    background: transparent;
    color: #FDFCFD;
  }
  
  &__submit {
    position: relative;
    width: 100%;
    height: 4rem;
    margin: 5rem 0 2.2rem;
    color: rgba(255,255,255,0.8);
    background: #FF3366;
    font-size: 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -1.5rem;
      margin-top: -1.5rem;
      width: 3rem;
      height: 3rem;
      border: 2px dotted #fff;
      border-radius: 50%;
      border-left: none;
      border-bottom: none;
      transition: opacity 0.1s 0.4s;
      opacity: 0;
    }
    
    &.processing {
      width: 4rem;
      font-size: 0;
      
      &:after {
        opacity: 1;
        animation: rotate 0.5s 0.4s infinite linear;
      }
    }
    
    &.success {
      transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
      transform: scale(30);
      opacity: 0.9;
      //background-color: rgba(255,255,255,0.95);
      
      &:after {
        transition: opacity 0.1s 0s;
        opacity: 0;
        animation: none;
      }
    }
  }
  
  &__signup {
    font-size: 1.2rem;
    color: #ABA8AE;
    
    a {
      color: #fff;
      cursor: pointer;
    }
  }
  
}
*/

/* chat controll

const chatServices = require("../services/chatServices");
module.exports.message = (req, callback) => {
    chatServices.addMessage(req, (err, data) => {
        if (err) {
            return callback(err);
        } else {
            return callback(null, data);
        }
    })
}

module.exports.getUSerMsg = (req, res) => {
    chatServices.getUSerMsg((err, data) => {
        if (err) {
            return res.status(500).send({
                message: err
            })
        } else {
            return res.status(200).send({
                message: data
            })
        }
    })
} */