<html>

<head>
    <link rel="stylesheet" href="../css/main.css">
    <title class="title-forgot">Forgot password</title>
</head>

<div class=forgot-password-body>
    <div class="forgot">
        <form name="myForm">
            <div>
                <br>
                <h2 class="forgot-title">Forgot password?</h2>
            </div>

            <div class="forgot-form">
                <br>
                <div>

                </div>
                <br>
                Email : <input type="email" name="email" placeholder="Enter your registered email id" required
                    autocomplete="on" required>

                <div>
                    <br>
                    <button type="submit" value="log In" ng-click="login()" class="login-button">Submit</button>
                   

                    <p class="forgot-submit">Sign in instead!
                        <span ui-sref="login">
                            <a href="">Sign in</a></p></span>

                            <p class="forgot-submit">link to resetPassword
                                    <span ui-sref="resetPassword">
                                        <a href="">Press here</a></p></span>
                </div>
            </div>






        </form>
    </div>
</div>

</html>