<html>

<head>

    <link rel="stylesheet" href="../css/main.css">

    <title>Chat app User Log-in</title>

</head>

<div class="body">

    <form name="myForm" ng-controller="controlLogin">
        <div class="login">
            <div class="login-header">
                <h2>Sign in</h2>
            </div>

            <div class="login-form">
                <P class="greet">Welcome, Please Login</P>
                <h3>Email id:</h3>

                <input type="email" ng-model="email" name="email" placeholder="Email id" required autocomplete="on"
                    required>

                <br>
                <h3>Password:</h3>
                <input type="password" placeholder="Password" ng-model="password" />
                <!-- <br> -->

                <br>
                <div class="forgot-password">
                    <label class="login-signup">Can't sign in?
                        <span ui-sref="forgotPassword">
                            <a href="">Forgot password</a></span></label>
                </div>

                <div>
                    <br>
                    <button type="submit" value="log In" ng-click="login()" class="login-button">Sign in</button>
                    <br>
                    <font color="red">{{loginMessage}}</font> <br>

                    <p class="login-signup">Already have an account?
                        <span ui-sref="register">
                            <a href="">Sign up</a></p></span>
                </div>
            </div>

        </div>
    </form>
</div>

</html>