<html>

<head>

    <link rel="stylesheet" href="../css/main.css">

</head>

<div class="body">

    <form name="myForm" ng-controller="controlLogin">
        <div class="login">
            <div class="login-header">
                <h2>Sign in</h2>
            </div>

            <div class="login-form">
                <h3>Email id:</h3>


                <!-- Email: <input type="email" name="input" ng-model="text" ng-pattern="emailFormat" required>
                    <br/><br/>
                    <span class="error" ng-show="myForm.input.$error.required">
                      Required!
                    </span><br/>
                    <span class="error" ng-show="myForm.input.$error.pattern">
                      Not valid email!
                    </span>
                    <br><br>
                    <tt>text = {{text}}</tt><br/>
                    <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>
                    <tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>
                    <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
                    <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
                    <tt>myForm.$error.pattern = {{!!myForm.$error.pattern}}</tt><br/> -->


                <input type="email" ng-model="email" name="email" ng-show="email" ng-pattern="emailFormat"
                    placeholder="Email id" required autocomplete="off" required>
                <!-- <br /><br /> -->
                <!-- <span class="error" ng-show="myForm.input.$error.required">
                    Required!
                </span><br />
                <span class="error" ng-show="myForm.input.$error.pattern">
                    Not valid email!
                </span>

             
                <code>text = {{text}}</code><br />
                <code>myForm.input.$valid = {{myForm.input.$valid}}</code><br />
                <code>myForm.input.$error = {{myForm.input.$error}}</code><br />
                <code>myForm.$valid = {{myForm.$valid}}</code><br />
                <code>myForm.$error.required = {{!!myForm.$error.required}}</code><br />
                <code>myForm.$error.email = {{!!myForm.$error.email}}</code>
                <br />  -->


                <!-- <span ng-show="myForm.email.$dirty && myForm.email.$invalid ">
                     <span ng-show="myForm.email.$error.required && myForm.email.$touched">Please enter Email id</span>
                    <span ng-show="myForm.email.$error.email">Invalid Email id</span> 
                </span> -->

                <br>
                <h3>Password:</h3>
                <input type="password" placeholder="Password" ng-model="password" />
                <!-- <br> -->

                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>

                <div>
                    <br>
                    <button type="submit" value="log In" ng-click="login()" class="login-button">Sign in</button>
                    <!-- <font color="red">{{loginMessage}}</font> <br> -->
                    <br>
                    <p class="login-signup">Don't have an account? &nbsp;<a class="sign-up"
                            href="../templates/register.html">Sign up</a></p>
                    <!-- <p class="login-signup"> trail &nbsp;<a class="sign-up"
                            href="../templates/dashboard.html">dashboard</a></p> -->
                </div>
            </div>



            <form name="myForm">

            </form>
        </div>
    </form>
    <!-- <iframe width="420" height="315"
    src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
    </iframe> -->
</div>

</html>