<html>

<head>

    <link rel="stylesheet" href="../css/main.css">

</head>

<div class="body">

    <form name="myForm" ng-controller="controlLogin">
        <div class="login">
            <div class="login-header">
                <h2>Sign in</h2>
            </div>

            <div class="login-form">
                <h3>Email id:</h3>
                
                <input type="email" ng-model="email" name="email" 
                    placeholder="Email id" required autocomplete="on" required>
                
                <!-- <span class="error" ng-show="myForm.input.$error.required">
                    Required!
                </span><br />
                <span class="error" ng-show="myForm.input.$error.pattern">
                    Not valid email!
                </span>

             
                <code>text = {{text}}</code><br />
                <code>myForm.input.$valid = {{myForm.input.$valid}}</code><br />
                <code>myForm.input.$error = {{myForm.input.$error}}</code><br />
                <code>myForm.$valid = {{myForm.$valid}}</code><br />
                <code>myForm.$error.required = {{!!myForm.$error.required}}</code><br />
                <code>myForm.$error.email = {{!!myForm.$error.email}}</code>
                <br />  -->




                <br>
                <h3>Password:</h3>
                <input type="password" placeholder="Password" ng-model="password" />
                <!-- <br> -->

                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>

                <div>
                    <br>
                    <button type="submit" value="log In" ng-click="login()" class="login-button">Sign in</button>
                    <font color="red">{{loginMessage}}</font> <br>

                    <p class="login-signup">Already have an account?
                        <span ui-sref="register">
                            <a href="">Sign up</a></p></span>
                </div>
            </div>

        </div>
    </form>
</div>

</html>