<html>

<head>
    <link rel="stylesheet" href="../css/main.css">
    <title>user register</title>
</head>

<div class="register-body">
    <form name="myForm" novalidate>
        <div class="register">
            <div class="signup-header">
                <h3>Sign up</h3>
            </div>

            <div class="register-form">
                <label>First Name</label><br>
                <input type="text" name="firstname" ng-model="firstname" placeholder="First Name" required
                    autocomplete="off" required />


                <br>


                <label>Last Name</label><br>
                <input type="text" name="lastname" ng-model="lastname" placeholder="Last Name" />

                <br>


                <label>Email id</label><br>
                <input type="email" name="email" ng-model="email" placeholder="Email id" />

                <br>


                <label>Password</label><br>
                <input type="password" name="password" ng-model="password" id="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    required /><br>



                <label>Conform Password</label><br>
                <input type="password" name="confirmPassword" ng-model="confirmPassword" id="confirm_password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Confirm Password"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    required /><br>

                <div>
                    <br>
                    <input type="submit" value="Sign up" ng-disabled="myForm.$invalid" class="register-button"
                        ng-click="register()"><br>

                    <p class="register-signup">Already have an account? <span ui-sref="login">
                            <a href="">Sign in</a></span> </p>
                </div>
            </div>

        </div>

    </form>
</div>

</div>

</html>