<html>

<head>
    <link rel="stylesheet" href="../css/main.css">
</head>

<div class="register-body">
    <form name="myForm" novalidate>
        <div class="register">
            <div class="signup-header">
                <h3>Sign up</h3>
            </div>

            <div class="register-form">
                <label>First Name</label><br>
                <input type="text" placeholder="First Name" /><br>
                <label>Last Name</label><br>
                <input type="text" placeholder="Last Name" /><br>
                <label>Email id</label><br>
                <input type="email" placeholder="Email id" /><br>
                <label>Password</label><br>
                <input type="password" placeholder="Password" /><br>
                <label>Conform Password</label><br>
                <input type="password" placeholder="Confirm Password"/><br>

                <div>
                    <br>
                    <button type="button" class="register-button">Register</button>
                    <br>
                    <p class="login-signup">Already have an account? &nbsp;<a class="sign-up" href="../templates/login.html">Sign in</a></p>
                </div>

            </div>
    </form>
</div>


</div>

</html>