<!-- <html>

<head>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/dashboard.css">
  <title>wellcome to chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="dashboard-body">

  <body name="myForm" ng-controller="chatController">

    <div class="dashboard">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <div class="topnav" id="myTopnav">
        <a href="#home" class="active" ui-sref="login">Sign out</a>

        <a class="new-chat">New chat</a>
        <a class="contact">Contact</a> -->
        <!-- <a class="heading">Welcome to ChatApp {{currUserName}}</a> -->
        <!-- <span>Welcome to WeChat {{currUserName}}</span> -->
        <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>


      <div class="row">
        <div class="column 1" style="background-color:#aaa;">
          <h2>Contacts</h2>
          <p></p>
        </div>

        <div class="column" style="background-color:#bbb;">
          <h2>message window</h2>
          <p></p>
        </div>
      </div>

      <section>
        <nav>
          <ol>
            Contacts
            <header> {{currUserName}}</header>
          </ol>
          <p ng-repeat="x in allUsers" ng-click="person(x)" ng-show="currUserName!=x.firstname" {{x.firstname}}></p>
        </nav>

        <article>

          <div class="groupChat">
            <p class="username">{{recieverUserName}}</p>
          </div>
          <section>
            <form>
              <div class="chatLogs" ng-repeat="chat in allUserArr">
                <div class="chat-friend" ng-show="currUser != chat.senderUserId">
                  <p class="chatMsg">{{chat.message}}</p>
                </div>
                <div class="chat-self" ng-show="currUser == chat.senderUserId"></div>
              </div>
            </form>
          </section>
          <div>
            <textarea class="text-area" ng-model="message" ng-keyup="$event.keyCode == 13 && sendmessage()" cols="60"
              rows="02" class="text" placeholder="text here"></textarea>
            <button type="button" ng-click=sendmessage(); class="sendclick">send</button>
            <P class="chatMsg">{{chat.message}}</P>
          </div>
        </article>
      </section>
    </div>
  </body>

</div>

</html> --> 